<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.1">
    <application
        android:label="1.1"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:label="1.1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>